.app-container {
  height: 400px;
  width: 400px;
  background-color: #f5f5f5;
  color: #2b283a;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.dice-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.die-face {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 1.75rem;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: inherit;
  white-space: nowrap;
  width: auto;
  padding: 6px 21px;
  cursor: pointer;
}

/* ACCESSIBILITY */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
