* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

button {
  font-family: Karla, sans-serif;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
